@model TKSR.Models.ClassModels
@{
    ViewBag.Title = "Mua thẻ điện thoại";
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}

<style>
    .item-chietkhau{
        width: 10%;
        display: flex;
        justify-content: center;
    }
    .history-title__item{
        text-align: center;
    }
</style>
<nav class="oriented">
    <div class="grid wide">
        <ul class="oriented__list">
            <li class="oriented-item">
                <a href="@Request.Url.Scheme://@Request.Url.Authority" class="oriented-item oriented-item__link">Trang chủ</a>
            </li>
            <li class="oriented-item">Dịch vụ</li>
            <li class="oriented-item">Mua thẻ nạp</li>
        </ul>
    </div>
</nav>
<section class="rechargecard">
    <div class="grid wide container__rechargecard">
        <h3 class="rechargecard__title">
            chọn dịch vụ
        </h3>
        <div class="grid">
            @{
                <ul class="row list__card">
                    @for (int i = 0; i < ViewBag.DSNhaMang.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li class="col l-2-4 m-4 c-6">
                                <div class="card__item card__item-active">
                                    <div class="card__item-logo">
                                        <img src="@Request.Url.Scheme://@Request.Url.Authority/ImgCard/@ViewBag.DSNhaMang[i].Logo" alt="">
                                    </div>
                                    <div class="card__item-text">
                                        @ViewBag.DSNhaMang[i].TenNhaMang
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="col l-2-4 m-4 c-6">
                                <div class="card__item">
                                    <div class="card__item-logo">
                                        <img src="@Request.Url.Scheme://@Request.Url.Authority/ImgCard/@ViewBag.DSNhaMang[i].Logo" alt="">
                                    </div>
                                    <div class="card__item-text">
                                        @ViewBag.DSNhaMang[i].TenNhaMang
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <h3 class="rechargecard__content-title">
                    Thẻ điện thoại @ViewBag.DSNhaMang[0].TenNhaMang
                </h3>
            }
            <form action="">
                <div class="row list__select">
                    <div class="col l-6 m-6 c-12 list__select-text">
                        Mệnh giá:
                    </div>
                    <div class="col l-6 m-6 c-12 list__select-input">
                        <select class="select__input menhgia">
                            <option value="10000">Thẻ 10k</option>
                            <option value="20000">Thẻ 20k</option>
                            <option value="30000">Thẻ 30k</option>
                            <option value="50000">Thẻ 50k</option>
                            <option value="100000">Thẻ 100k</option>
                            <option value="200000">Thẻ 200k</option>
                            <option value="300000">Thẻ 300k</option>
                            <option value="500000">Thẻ 500k</option>
                            <option value="1000000">Thẻ 1 triệu</option>
                        </select>
                    </div>
                </div>
                <div class="row list__select">
                    <div class="col l-6 m-6 c-12 list__select-text">
                        Số lượng:
                    </div>
                    <div class="col l-6 m-6 c-12 list__select-input">
                        <select class="select__input soluong">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
                <div class="row list__select">
                    <div class="col l-6 m-6 c-12 list__select-text">
                        Nhập mật khẩu thanh toán cấp 2:
                    </div>
                    <div class="col l-6 m-6 c-12 list__select-input">
                        <svg class="Input_icon__3bJ0I" width="16" height="16" viewBox="0 0 16 16"><path d="M0 0h16v16H0V0z" fill="none"></path><path d="M15.2 13.1L8.6 1.6c-.2-.4-.9-.4-1.2 0L.8 13.1c-.1.2-.1.5 0 .7.1.2.3.3.6.3h13.3c.2 0 .5-.1.6-.3.1-.2.1-.5-.1-.7zM8.7 12H7.3v-1.3h1.3V12zm0-2.7H7.3v-4h1.3v4z" fill="currentColor"></path></svg>
                        <input class="select__input" placeholder="Nhập mật khẩu thanh toán" type="password">
                        <input class="select__input none" placeholder="Nhập mật khẩu thanh toán" type="password">
                        <span class="form-message">
                        </span>
                        <div class="row money">
                            <i>Thành tiền: @String.Format("{0:#,##0.##}", ViewBag.PriceScreen) VNĐ</i>
                        </div>
                    </div>
                </div>
                <div class="buy">
                    <button type="button" href="#" class="btn__card-buy">
                        Mua mã thẻ
                    </button>
                </div>
            </form>
        </div>
    </div>
    <h3 class="rechargecard__content-title">
        Thẻ mua gần đây
    </h3>
    <div class="grid rechargecard__history-content">
        <div class="row history-content">
            <div class="history-title__item">
                Loại thẻ
            </div>
            <div class="history-title__item">
                Mã thẻ
            </div>
            <div class="history-title__item">
                Seri
            </div>
            <div class="history-title__item">
                Mệnh giá
            </div>
            <div class="history-title__item">
                Ngày mua
            </div>
        </div>
        <div class="card__content">
            @{
                int number = 0;
                foreach (var item in Model.DSTheMua)
                {
                    number++;
                    if (number > 10)
                    {
                        break;
                    }
                    <div class="row history-content">
                        <div class="history-title__item">
                            @item.NhaMang
                        </div>
                        <div class="history-title__item">
                            @item.MaThe
                        </div>
                        <div class="history-title__item">
                            @item.Seri
                        </div>
                        <div class="history-title__item">
                            @String.Format("{0:#,##0.##}", int.Parse(item.MenhGia)) VNĐ
                        </div>
                        <div class="history-title__item">
                            @item.NgayMua.ToString("dd/MM/yyyy HH:mm:ss")
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <h3 class="rechargecard__content-title">
        Bảng giá thẻ hôm nay
    </h3>
    <div class="grid rechargecard__history-content">
        <div class="row history-content">
            <div class="col history-title__item item-chietkhau">
                Nhà mạng
            </div>
            <div class="col history-title__item item-chietkhau">
                10.000
            </div>
            <div class="col history-title__item item-chietkhau">
                20.000
            </div>
            <div class="col history-title__item item-chietkhau">
                30.000
            </div>
            <div class="col history-title__item item-chietkhau">
                50.000
            </div>
            <div class="col history-title__item item-chietkhau">
                100.000
            </div>
            <div class="col history-title__item item-chietkhau">
                200.000
            </div>
            <div class="col history-title__item item-chietkhau">
                300.000
            </div>
            <div class="col history-title__item item-chietkhau">
                500.000
            </div>
            <div class="col history-title__item item-chietkhau">
                1.000.000
            </div>
        </div>
        @{
            foreach (var item in ViewBag.DSNhaMang)
            {
                <div class="row history-content">
                    <div class="col history-title__item item-chietkhau">
                        @item.TenNhaMang
                    </div>
                    @foreach (var items in ViewBag.ChietKhau)
                    {
                        if (items.NhaMang == item.TenNhaMang)
                        {
                            <div class="col history-title__item item-chietkhau">
                                @items.ChietKhauBan
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</section>
<section class="security">
    <div class="grid wide container container__security">
        <div class="section__title">
            <h1 class="section__title-text">
                Thanh toán an toàn - Bảo mật tuyệt đối
            </h1>
        </div>
        <div class="security__nav-header">
            <ul class="security__nav">
                <li class="security__nav-item security__active">
                    <span class="security__nav-text">
                        Bảo chứng ngân hàng
                    </span>
                </li>
                <li class="security__nav-item">
                    <span class="security__nav-text">
                        Bảo mật đa tầng
                    </span>
                </li>
                <li class="security__nav-item">
                    <span class="security__nav-text">
                        Đạt chuẩn quốc tế
                    </span>
                </li>
            </ul>
        </div>
        <div class="row security__content fade security__content-active">
            <div class="col l-6 m-6 c-12 security__content-text">
                <ul class="security__content-text__list">
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            Tiền của bạn trong Ví TKSR là TIỀN THẬT và được bảo chứng 100% bởi các NGÂN HÀNG đang hợp tác với Ví TKSR.
                        </div>
                    </li>
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            Người dùng TKSR có thể Nạp/Rút tiền từ ngân hàng liên kết bất kỳ lúc nào.
                        </div>
                    </li>
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            TKSR đã liên kết trực tiếp với 25 ngân hàng lớn và các tổ chức thẻ quốc tế Visa/Master/JCB.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-6 m-6 c-12 security__content-img">
                <img src="../assets/img/BaoMat1.jpg" alt="" class="security__content-img-item">
            </div>
        </div>
        <div class="row security__content">
            <div class="col l-6 m-6 c-12 security__content-text">
                <ul class="security__content-text__list">
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            Để đăng nhập, cần nhập mật khẩu 6 số và mã OTP được gửi đến điện thoại. Mỗi lần thanh toán đều cần nhập lại mật khẩu.
                        </div>
                    </li>
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            Ứng dụng tự khóa sau 5 phút nếu không sử dụng.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-6 m-6 c-12 security__content-img">
                <img src="../assets/img/BaoMat2.jpg" alt="" class="security__content-img-item">
            </div>
        </div>
        <div class="row security__content">
            <div class="col l-6 m-6 c-12 security__content-text">
                <ul class="security__content-text__list">
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            Công nghệ bảo mật của Ví TKSR đáp ứng các tiêu chuẩn quốc tế khắt khe nhất trong ngành tài chính ngân hàng, đạt chứng nhận bảo mật toàn cầu PCI DSS cấp độ cao nhất.
                        </div>
                    </li>
                    <li class="security__content-item">
                        <div class="security__content-item-icon">
                            <img src="../assets/img/logo/check.svg" alt="">
                        </div>
                        <div class="security__content-item-text">
                            Công nghệ mã hóa đường truyền SSL/TLS đạt chứng nhận quốc tế GlobalSign.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col l-6 m-6 c-12 security__content-img">
                <img src="../assets/img/BaoMat3.jpg" alt="" class="security__content-img-item">
            </div>
        </div>
    </div>
</section>
<script src="@Request.Url.Scheme://@Request.Url.Authority/Assets/js/service.js"></script>
<script>
    function CheckChietKhau(NhaMang, MenhGia, event) {
        $.ajax({
            url: "/BuyCard/GetChietKhau?id=" + NhaMang + "-" + MenhGia + "-Ban",
            method: "GET",
            data: "",
            contentType: "application/json",
            dataType: ""
        }).done(function (response) {
            event(response)
        }).fail(function () {
            active__messageNotification('Có lỗi xảy ra, thử lại sau', false);
        })
    }
    document.addEventListener("DOMContentLoaded", function () {
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);
        var PriceEnd = @ViewBag.PriceScreen;
        /* rechargecard */
        (function () {
            const rechargecard = $$('.card__item');
            const content__title = $('.rechargecard__content-title');
            const str = 'Thẻ điện thoại ';
            const money = $('.money i');
            const select__menhgia = $('.menhgia');
            const select__soluong = $('.soluong');
            select__menhgia.onclick = function () {
                var NhaMangActive = $('.card__item.card__item-active .card__item-text').innerText;
                CheckChietKhau(NhaMangActive, select__menhgia.value, function (res) {
                    if (res == null || res == "") {
                        active__messageNotification('Có lỗi xảy ra, thử lại sau', false);
                    }
                    else {
                        var coin = select__soluong.value * select__menhgia.value * res;
                        money.innerHTML = `Thành tiền: ` + coin.toLocaleString("en") + ` VNĐ`;
                        PriceEnd = coin;
                    }
                });
            }
            select__soluong.onclick = function () {
                var NhaMangActive = $('.card__item.card__item-active .card__item-text').innerText;
                CheckChietKhau(NhaMangActive, select__menhgia.value, function (res) {
                    if (res == null || res == "") {
                        active__messageNotification('Có lỗi xảy ra, thử lại sau', false);
                    }
                    else {
                        var coin = select__soluong.value * select__menhgia.value * res;
                        money.innerHTML = `Thành tiền: ` + coin.toLocaleString("en") + ` VNĐ`;
                        PriceEnd = coin;
                    }
                });
            }
            const dsNhaMang = $$(".card__item .card__item-text");
            const category = [];
            for (var i = 0; i < dsNhaMang.length; i++)
            {
                category.push(dsNhaMang[i].innerText)
            }
            rechargecard.forEach((rechargecard__active, index) => {
                rechargecard__active.onclick = function () {
                    if (this.classList.contains('card__item-active') == false) {
                        const card__close = $('.card__item.card__item-active');
                        card__close.classList.remove('card__item-active');
                        this.classList.add('card__item-active');
                        content__title.innerHTML = str + category[index];
                        var NhaMangActive = $('.card__item.card__item-active .card__item-text').innerText;
                        CheckChietKhau(NhaMangActive, select__menhgia.value, function (res) {
                            if (res == null || res == "") {
                                active__messageNotification('Có lỗi xảy ra, thử lại sau', false);
                            }
                            else {
                                var coin = select__soluong.value * select__menhgia.value * res;
                                money.innerHTML = `Thành tiền: ` + coin.toLocaleString("en") + ` VNĐ`;
                                PriceEnd = coin;
                            }
                        });
                    }
                }
            })
        })();
        /* validate */
        const modal = $('.modal');
        const auth__form = $('.auth-form');
        const icon__close = $('.auth-form__icon');
        const modal__overlay = $('.modal__overlay');
        const auth__text = $$('.auth-form__rules-text');
        const buyCard = $('.auth-form__submit-buyCard');
        modal__overlay.onclick = function () {
            modal.classList.remove('modal__active');
            const tab__close = $('.auth-form.auth-form__active');
            tab__close.classList.remove('auth-form__active');
        }
        icon__close.onclick = function () {
            modal.classList.remove('modal__active');
            const tab__close = $('.auth-form.auth-form__active');
            tab__close.classList.remove('auth-form__active');
        }
        const input = document.querySelectorAll('.select__input');
        function remove_oninput(element) {
            var message = element.querySelector('.form-message');
            message.innerText = '';
            element.classList.remove('invalid');
        }
        function add__blur(element, messages) {
            var message = element.querySelector('.form-message');
            message.innerText = messages;
            element.classList.add('invalid');
        }
        var isFormValidCard = true;
        input.forEach((blurs, index) => {
            blurs.onblur = function () {
                if (index == 2) {
                    function tests() {
                        return input[2].value.length > 0 ? undefined : `Vui lòng nhập trường này`;
                    }
                    if (tests() == null) {
                    }
                    else {
                        var mess = tests();
                        add__blur(input[2].parentElement, mess);
                    }
                }
            }
            blurs.oninput = function () {
                if (index == 2) {
                    remove_oninput(input[2].parentElement);
                    isFormValidCard = true;
                }
            }
        })
        const card = document.querySelector('.btn__card-buy');
        var isRunning = false;
        var isRunningBuy = false;
        card.onclick = function () {
            if (!isRunning) {
                isRunning = true;
                function tests() {
                    return input[2].value.length > 0 ? undefined : `Vui lòng nhập trường này`;
                }
                if (tests() == null) {
                }
                else {
                    var mess = tests();
                    add__blur(input[2].parentElement, mess);
                    isFormValidCard = false;
                    isRunning = false;
                }
                if (isFormValidCard == true) {
                    const card__acvive = $('.card__item.card__item-active .card__item-text').innerText;
                    active__Loading(true);
                    var form = new FormData();
                    form.append("NhaMang", card__acvive)
                    form.append("MenhGia", input[0].value)
                    form.append("SoLuong", input[1].value)
                    form.append("Pass", input[2].value)
                    form.append("Confirm", "false")
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", '/BuyCard/GetBuyCard', true);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            active__Loading(false);
                            var r = xhr.responseText;
                            var j = JSON.parse(r);
                            if (j.Data.status == "F"){
                                add__blur(input[2].parentElement, 'Mật khẩu thanh toán không đúng');
                            }
                            else if (j.Data.status == "KhongDu") {
                                active__messageNotification('Kho thẻ tạm thời không đủ số lượng thẻ này', false);
                            }
                            else if (j.Data.status == "ThieuTien") {
                                active__messageNotification('Bạn không đủ số dư', false);
                            }
                            else if (j.Data.status == "ER") {
                                active__messageNotification('Có lỗi xảy ra, thửu lại sau', false);
                            }
                            else if (j.Data.status == "OK") {
                                modal.classList.add('modal__active');
                                auth__form.classList.add('auth-form__active');
                                auth__text[1].innerText = "Nhà mạng: " + card__acvive;
                                auth__text[2].innerText = "Mệnh giá: " + Number(input[0].value).toLocaleString("en") + " VNĐ";
                                auth__text[3].innerText = "Số lượng: " + input[1].value;
                                auth__text[4].innerText = "Thành tiền: " + PriceEnd.toLocaleString("en") + " VNĐ";
                                buyCard.onclick = function () {
                                    if (!isRunningBuy) {
                                        isRunningBuy = true;
                                        const card__acvive = $('.card__item.card__item-active .card__item-text').innerText;
                                        active__Loading(true);
                                        var form = new FormData();
                                        form.append("NhaMang", card__acvive)
                                        form.append("MenhGia", input[0].value)
                                        form.append("SoLuong", input[1].value)
                                        form.append("Pass", input[2].value)
                                        form.append("Confirm", "true")
                                        var xhr = new XMLHttpRequest();
                                        xhr.open("POST", '/BuyCard/GetBuyCard', true);
                                        xhr.onreadystatechange = function () {
                                            if (xhr.readyState == 4 && xhr.status == 200) {
                                                active__Loading(false);
                                                var r = xhr.responseText;
                                                var j = JSON.parse(r);
                                                if (j.Data.status == "F") {
                                                    add__blur(input[2].parentElement, 'Mật khẩu thanh toán không đúng');
                                                }
                                                else if (j.Data.status == "KhongDu") {
                                                    active__messageNotification('Kho thẻ tạm thời không đủ số lượng thẻ này', false);
                                                }
                                                else if (j.Data.status == "ThieuTien") {
                                                    active__messageNotification('Bạn không đủ số dư', false);
                                                }
                                                else if (j.Data.status == "ER") {
                                                    active__messageNotification('Có lỗi xảy ra, thử lại sau', false);
                                                }
                                                else {
                                                    active__messageNotification('Thanh toán thành công', true);
                                                    input[2].value = "";
                                                    modal.classList.remove('modal__active');
                                                    auth__form.classList.remove('auth-form__active');
                                                    var moneyText = $$('.info__content .info__item');
                                                    var money = moneyText[1].innerText.replace(/,/g, '').replace(/ /g, '').replace(/Đ/g, '');
                                                    var text = money - PriceEnd;
                                                    moneyText[1].innerText = Number(text).toLocaleString("en") + " Đ";
                                                    moneyText[3].innerText = Number(text).toLocaleString("en") + " Đ";
                                                    var content = $('.card__content');
                                                    j.Data.forEach((item, index) => {
                                                        item.NgayMua = new Date(parseInt(item.NgayMua.replace("/Date(", "").replace(")/", ""), 10));
                                                        var month = item.NgayMua.getMonth();
                                                        month++;
                                                        var strDate = item.NgayMua.getDate() + "/" + month + "/" + item.NgayMua.getFullYear() + " " + item.NgayMua.getHours() + ":" + item.NgayMua.getMinutes() + ":" + item.NgayMua.getSeconds();
                                                        var html = `
                                                                        <div class="row history-content">
                                                                            <div class="history-title__item">
                                                                                ${item.NhaMang}
                                                                            </div>
                                                                            <div class="history-title__item">
                                                                                ${item.MaThe}
                                                                            </div>
                                                                            <div class="history-title__item">
                                                                                ${item.Seri}
                                                                            </div>
                                                                            <div class="history-title__item">
                                                                                ${Number(item.MenhGia).toLocaleString("en")} VNĐ
                                                                            </div>
                                                                            <div class="history-title__item">
                                                                                ${strDate}
                                                                            </div>
                                                                        </div>`;
                                                        content.innerHTML = content.innerHTML + html;
                                                    })
                                                }
                                                isRunningBuy = false;
                                            }
                                        }
                                        xhr.send(form);
                                    }
                                }
                            }
                            isRunning = false;
                        }
                    }
                    xhr.send(form);
                }
            }
        }
    }, false)
</script>

